:root {
    --main-color: hsl(224, 63%, 61%);
    --apricot:  hsl(224, 63%, 61%);
    --white: hsl(0, 68%, 64%);
}

.hero-color {
    background-color: var(--main-color);
}

.how-color {
    background-color: var(--apricot);
}

.search-color {
    background-color: var(--white);
}

.title {
    color:black;
    font-family: Georgia;
}

.title.is-3 {
    color: black;
}

.subtitle {
    color: black;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.input {
    text-align: center;
}

p {
    color: black;
}

.button {
    color: white;
}

#backBtn {
    visibility: hidden;
    
}




